.container {
  width: 300px;
  background-color: bisque;
  margin: 0 auto;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
