.container {
  padding: 30px;
  main-height: 300px;
}
.white {
  background-color: white;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
